:root {
  --code-size20: 20px;
  --code-size10: 10px;
}

/* *{
  transition: 0.3s 0s ease !important;
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}
::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track{
  background-color: transparent !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb{
  background-color:  rgb(108, 99, 255) !important;
  border-radius: 10px !important;
}



body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding-top: 70px;

  /* background: linear-gradient(to bottom right, rgb(248, 248, 248) 15% , rgba(126, 119, 255, 0.5), #6456ff),
   
    repeating-linear-gradient(0deg,
      transparent,
      transparent 49px,
      rgb(63, 61, 86, 0.1) 50px,
      rgba(53, 10, 88, 0.01) 51px),
    repeating-linear-gradient(90deg,
      transparent,
      transparent 49px,
      rgb(63, 61, 86, 0.1) 50px,
      rgba(53, 10, 88, 0.01) 51px);
  background-size: cover;
  background-attachment: fixed; */

  height: 100vh;
  margin: 0;

  /* scrollbar-width: thin !important;
  scrollbar-color: red green !important; */

  /* animation: bg-move 10s ease 0s infinite forwards; */


}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(248, 248, 248) 15% , rgba(126, 119, 255, 0.5), #6456ff),
              repeating-linear-gradient(0deg,
                transparent,
                transparent 49px,
                rgba(63, 61, 86, 0.1) 50px,
                rgba(53, 10, 88, 0.01) 51px),
              repeating-linear-gradient(90deg,
                transparent,
                transparent 49px,
                rgba(63, 61, 86, 0.1) 50px,
                rgba(53, 10, 88, 0.01) 51px);
  z-index: -80;
}



@keyframes bg-move {
  from {
    background: linear-gradient(to bottom right, rgba(61, 223, 240, 0.7), rgba(21, 15, 124, 0.7)),
      /* Grid pattern */
      repeating-linear-gradient(0deg,
        transparent,
        transparent 49px,
        rgba(0, 0, 0, 0.03) 50px,
        rgba(0, 0, 0, 0) 51px),
      repeating-linear-gradient(90deg,
        transparent,
        transparent 49px,
        rgba(0, 0, 0, 0) 50px,
        rgba(0, 0, 0, 0.03) 51px);
  }

  to {
    background: linear-gradient(to bottom right, rgba(118, 241, 255, 0.5), rgba(67, 58, 234, 0.5)),
      /* Grid pattern */
      repeating-linear-gradient(0deg,
        transparent,
        transparent 49px,
        rgba(0, 0, 0, 0.03) 50px,
        rgba(0, 0, 0, 0) 51px),
      repeating-linear-gradient(90deg,
        transparent,
        transparent 49px,
        rgba(0, 0, 0, 0) 50px,
        rgba(0, 0, 0, 0.03) 51px);
  }
}

.default-bg{
  background: none !important;
}
.main-nav {
  background: none !important;
}

.shadow-pro {
  box-shadow: 0px 0px 10px #c2c2c2 !important;
  transition: box-shadow 300ms 0s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 20px #909090 !important;
  }
}

/* @media (min-width:992px) {
  .icons{
    width: 100%;
  }
} */


/* .btn-slide{
  width: 70px !important;
} */
/* .btn-slide {
  & i {
    display: none;
    transition: display 300ms 0s ease-in-out;
  }
  & img{
    margin-right: 0px;
  }
  &:hover{
    & i{
      display: inline;
    }
    & img{
      margin-right: 5px;
    }
  
  }
} */

.main-nav-hover {
  background: transparent;
  backdrop-filter: blur(0px);
  transition: background 300ms 0s ease-in-out, backdrop-filter 300ms 0s ease-in-out;

  & a {
    visibility: hidden;
    width: fit-content;
    height: fit-content;

    & img {
      width: 30px;
      height: 30px;
    }

    & i {
      font-size: 15px;
      visibility: hidden;
      position: absolute;
      /* transition: visibility s 0s ease, position 300ms 0s ease; */
    }

    &:hover {
      & i {
        visibility: visible;
        position: relative;
      }


    }
  }

  &:hover {
    background: #3f3d568a !important;
    backdrop-filter: blur(5px);

    & a {
      visibility: visible;
    }
  }

}

.main-nav-light {
  background: #2F2E41 !important;
}

.k-to {
  font-size: clamp(0.65em, 1vw, 0.3em) !important;
  /* font-size: 0.3em !important; */
}

.progress-scroller {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7px;
  border-radius: 20px;
  transform-origin: 0%;
  z-index: 999;
  visibility: visible;
}

.projects {
  border: 1px solid grey;
}

.trans-back {
  background-clip: text !important;
  background: linear-gradient(to left, rgb(15, 176, 194), rgb(108, 99, 255)) !important;
  width: fit-content !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
}

.navtext {
  & svg {
    color: white;
  }

  & .tp {
    color: white !important
  }
}

.navtext:hover {
  & svg{
    color:rgb(108, 99, 255) !important;
    filter: drop-shadow(0px 0px 10px rgb(133, 243, 255));

  }
  & .tp {
    background-clip: text !important;
    background: linear-gradient(to left, rgb(15, 176, 194), rgb(108, 99, 255)) !important;
    width: fit-content !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
  }
}

.navlink {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;

  & svg{
    font-size: 18px !important;

  }

}

.navLinkActive {
  & svg {
    color:rgb(108, 99, 255) !important;

    /* color: rgb(87, 233, 250) !important; */
    filter: drop-shadow(0px 0px 10px rgb(133, 243, 255));
  }
}

.drop-shadow {
  filter: drop-shadow(0px 0px 10px rgb(0, 229, 255));
}



.color-mix {
  color: rgb(27, 181, 198) !important;
  /* width: 35px !important;
  height: 35px !important; */
  filter: drop-shadow(0px 0px 10px rgb(0, 229, 255));
}

.icons {
  color: white !important;
}

.icons:hover {
  color: rgb(87, 233, 250) !important;
  filter: drop-shadow(0px 0px 10px rgb(0, 229, 255));
}

.section-h {
  height: fit-content;
  margin: 0px 0px 200px 0px !important;
}

.body-port {

  background: transparent;
  overflow-x: hidden;
}

@media (min-width:992px) {
  .navbar-collapse {
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
    flex-basis: content !important;
  }

  .max-h {
    max-height: 100%;
    margin: 0px auto;
  }

  .max-h2 {
    max-height: 70%;
    margin: 0px auto;
  }

  .vh-lg-100 {
    height: 100dvh !important;
  }
}

/* .glow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  place-items: center;
  grid-gap: 40px;
}
.w-pro{
  width: 500px;
} */

.bg-blue-grad {
  background: linear-gradient(to left, rgb(47, 228, 249), rgb(108, 99, 255));
}

.code-style {
  color: #6C63FF;
}

.stacks {
  border-top: 2px solid white;
}

.skill-con .single-skill {
  width: 100%;
  box-shadow: 0px 4px 10px rgb(103, 103, 103);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.4s 0s ease-in-out;
}

.skill-con .single-skill:hover {
  transform: translate(0px, -15px);
  cursor: pointer;
}

.bg-grey {
  background: rgb(185, 182, 182);
  border-radius: var(--code-size10);

}

.skill2 {
  height: 9px;
  border-radius: var(--code-size10);
}

.swiper-scrollbar-drag {
  background: linear-gradient(to left, rgb(47, 228, 249), rgb(108, 99, 255)) !important;
}

.link-div-center {
  display: grid;
  place-items: center;
}

.link-div-center a {
  width: fit-content;
}



.nav-bar {
  z-index: 400;
  top: 0px;
  width: 100%;
  margin: 0px 0px 30px 0px;
}



.pad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(146, 145, 145, 0.641);
  backdrop-filter: blur(10px);
  color: black;
  border-radius: 0;
  padding: 10px 15px;

}

.pad img {
  width: 60px;

}


.nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}


#Offcan .lissy {
  list-style: none;
}

#Offcan .lissy a {
  width: 100%;
  color: purple;
  text-decoration: none;



}

.bro {
  background: red;
}

.nav-bar .lis a {
  margin: 10px;
  padding: 5px 10px;

  border-radius: 10px;
  color: black;
  font-size: var(--code-size20);
  background: rgb(105, 105, 108);
  text-decoration: none;
}


.nav-bar .lis a:active {
  background: linear-gradient(45deg, rgb(90, 90, 255), rgb(169, 3, 169));
  color: white;

}

.nav-bar .active a {
  color: white;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(90, 90, 255), rgb(169, 3, 169));
}

.main-div {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  padding: 0rem 3rem;
  gap: 70px 50px;
}

.card-nin {
  width: 100%;
  box-shadow: 0px 0px 15px black;
  padding: 15px;
  height: fit-content;
  border-radius: 20px;
  background: white;

}

.card-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.card-img img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-img:hover img {
  transform: scale(1.7);
  transform-origin: center;
}

.card-text {
  font-size: var(--btn-fontsize);
  color: black;
}

.btn-div button {

  background: linear-gradient(45deg, rgb(90, 90, 255), rgb(169, 3, 169));
  color: white;
  font-size: var(--btn-fontsize);

  border: none;


}

.contf {
  width: 80%;
  padding: 30px 0px !important;
  /* background:grey; */

}

.cont {
  width: 650px !important;
  height: 300px !important;

}


.cont .pro {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
}

.cont .pro img {
  border-radius: 20px;
}

.swiper-scrollbar {
  margin-top: 400px;
}

.swiper-button-next::after,
.swiper-button-prev::after {

  color: transparent !important;
  background: linear-gradient(to left, rgb(47, 228, 249), rgb(108, 99, 255));
  background-clip: text;
  font-size: 60px !important;


}

.subtle {
  color: #ffb700;
}

@media (max-width:1024px) {
  .main-div {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  .contf {
    width: 100%;
    /* background:grey; */

  }
}

@media (max-width:992px) {
  .cont {
    width: 100% !important;
    height: 300px !important;

  }

  .section-h {
    margin: 0px 0px 120px 0px !important;

  }
}